.LibraryContainer {
    height: 100%;
    background-color: aqua;
    /* overflow-y: scroll; */
    /* padding: 4px; */
    /* overflow: hidden; */
    /* display: flex; */
    padding: 20px;
}

.LibraryContent {
    border: 2px solid red;
    height: 100%;
    /* overflow-y: scroll; */
}