.AppContainer {
    width: 100%;
    height: 100%;
    /* padding: 8px; */
}

.AppContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.HeaderContainer {
    height: 72px;
}

.PageContainer {
    flex: 1 0 0;
    height: 100%;
    max-height: calc(100% - 72px);
}